<footer class="site-footer">
  <ul class="links">
    <li><a href="{{ "/about/" | prepend: site.baseurl }}"{% if page.nav == "about" %} class="current"{% endif %}>about</a></li>
    <li><a href="{{ "/musings/" | prepend: site.baseurl }}"{% if page.nav == "musings" %} class="current"{% endif %}>musings</a></li>
    <li><a href="{{ "/path/" | prepend: site.baseurl }}"{% if page.nav == "path" %} class="current"{% endif %}>path</a></li>
    <li><a href="{{ "/contact/" | prepend: site.baseurl }}"{% if page.nav == "contact" %} class="current"{% endif %}>contact</a></li>
    <li><a href="{{ "/cool/" | prepend: site.baseurl }}"{% if page.nav == "cool" %} class="current"{% endif %}>cool</a></li>
  </ul>
</footer>
