<footer class="site-footer">
  <hr />
  <ul class="links">
    <li><a href="{{ "/" | prepend: site.baseurl }}"{% if page.nav == "about" %} class="current"{% endif %}>About</a></li>
    <li><a href="{{ "/musings/" | prepend: site.baseurl }}"{% if page.nav == "musings" %} class="current"{% endif %}>Musings</a></li>
    <li><a href="{{ "/path/" | prepend: site.baseurl }}"{% if page.nav == "path" %} class="current"{% endif %}>Path</a></li>
    <li><a href="{{ "/contact/" | prepend: site.baseurl }}"{% if page.nav == "contact" %} class="current"{% endif %}>Contact</a></li>
  </ul>
</footer>
